.landing {
  text-align: center;
  padding: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-size: cover;
  background-position: center;
}

.landing h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.landing p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.landing button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
